@import "../../../../../styles/variable";
.cards {
  padding: 10px 10px 10px 0px;
  display: flex;
  height: 147px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 17px;
  // margin-right: 24px;
  width: 170.7px;
  img {
    height: 50px;
    width: 50px;
  }
  p {
    font-size: 14px;
    width: 160px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .cards {
    display: flex;
    width: 298px;
    height: 75px;
    flex-direction: row;
    padding: 4.5px 14.491px 4.5px 0px;
    align-items: flex-start;
    gap: 28.353px;
    p {
      // font-size: 16px;
      // width: 150px;
      // padding-top: 17px;
      // line-height: 1;
      width: 191.156px;
    }
    img {
      height: 64px;
      width: 64px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1399px) and (min-height: 600px) and (max-height: 900px) {
  /* CSS rules specific to screens with width between 768 and 1399 pixels and height between 600 and 900 pixels */
  .cards {
    // margin-right: 24px;

    width: 170.7px;
    img {
      height: 50px;
      width: 50px;
    }
    p {
      font-size: 14px;
      width: 160px;
      line-height: 16px;
    }
  }
}
@media #{$laptop-device} {
  .cards {
    margin-right: 24px;
    width: 180.7px;
    img {
      height: 64px;
      width: 64px;
    }
    p {
      font-size: 17px;
      width: 180px;
      line-height: 22px;
    }
  }
}
@media #{$extra-large-device} {
  .cards {
    margin-right: 24px;
    width: 180.7px;
    img {
      height: 64px;
      width: 64px;
    }
    p {
      font-size: 17px;
      width: 180px;
      line-height: 22px;
    }
  }
}
