<section class="about-page">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-5">
        <div class="left">
        <div class="top-heading">About TotalScope</div>
        <h3>TotalScope’s Founders Have Real Industry Experience:</h3>
        <ul class="list_items">
          <li *ngFor="let item of items">
           <span>{{ item.text }}</span>
          </li>
        </ul>
      </div>
      </div>
      <div class="col-sm-7">
        <div class="right">
        <img src="assets/images/png/roofer.png" alt="roof" />
      </div>
      </div>
    </div>
  </div>
  <div class="total-scope">
    <div class="container">
    <h4>Why We Started TotalScope</h4>
    <p>
      After running a successful roofing & restoration company for a number of
      years, we noticed that our in-house estimates far out-paced those of our
      fellow contractors. First one, then another, then more and more were
      asking us to write their estimates for them, as they were getting larger
      and larger claims easily approved.
      <br /><br />
      We turned this into our side hustle, then one day found that roofing had
      become the side hustle after writing estimates and supplements was
      taking most of our time. The writing was on the wall, so we decided to
      go all-in on TotalScope. We created a data-collection app that has taken
      the industry by surprise, and by storm. Our proprietary process in
      creating top-notch estimates is allowing us to serve you, our clients,
      better and better every day by increasing not only your bottom line but
      also decreasing your time spent on each project. So, now you can go
      fishing, or do another project, the choice is yours. Either way, we got
      you covered.
    </p>
  </div> 
  </div>
</section>
 