.manage-files-wrapper 
{
	transition: height 1s ease !important;
	height: 93%;
	padding: 23px 24px 20px 23px;

	.manage-top-list 
	{
		display: flex;
		gap: 8px;
		padding-bottom: 16px;
		box-sizing: content-box;
		max-height: 40px;

		.input-form-pages 
		{
			// width: 100%;
			width: 200px;
			::ng-deep 
			{
				.k-form-field-wrap 
				{
					border: unset;

					.k-form-field-wrap 
					{
						.k-textbox 
						{
							.k-input-inner 
							{
								color: var(--Gray-900, #111827);
								font-size: 14px;
								font-weight: 400;
								line-height: 20px;
							}
						}
					}

					kendo-textbox 
					{
						border-radius: 8px;
						border: 1px solid #d1d5db;
						background: #fff;
						box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
						// width: 100%;
						width: 200px;
						flex: 1;
						height: 40px;
					}
				}
			}
		}

		::ng-deep .date-picker-list 
		{
			min-width: 235px;
			.k-datepicker 
			{
				.k-input-button 
				{
					border-left: 0;
					background: transparent;
				}
			}

			kendo-datepicker 
			{
				border-radius: 8px;
				border: 1px solid #d1d5db;
				background: #fff;
				box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
				height: 40px;
			}
		}

		.multiple-data-checkbox 
		{
			// width: 100%;
			width: fit-content;

			.checkbox-wrap 
			{
				height: 40px;
				display: flex;
				height: 40px;
				padding: 0px 10px;
				align-items: center;
				gap: 8px;
				.k-radio:checked {
					background-image:url(../../../../../assets/images/svg/checktick.svg);
				}                                                 
				.k-form-field {
					display: flex;
					align-items: center;
					margin-right: 10px;
				}
				.k-checkbox-label {
					white-space: pre;
				}
				input 
				{
					width: 20px;
					height: 20px;
					border-radius: 24px;
				}

				.k-checkbox-label 
				{
					color: #374151;
					font-size: 14px;
					font-weight: 500;
					line-height: 1;
					margin-left: 8px;
					margin-right: 10px;
					cursor: default;
				}
			}
		}

		.button-wrap 
		{
				border-radius: 8px;
				display: flex;
				padding: 10px;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				cursor: pointer;
				background-color: #306fd5;

				img 
				{
					width: 40px;
				}
		}
	}

	.switch-container {
		display: flex;
		align-items: center;
		margin-right: 10px;
		width: 100%;
		justify-content: end;
		
		span {
			text-align: center;
			color: #0C3F6D;
			opacity: 0.7;
		}
	}

	.table-main-wrapper 
	{
		.table-responsive 
		{
			background: var(--Color, #fff);

			::ng-deep .dashboard-table-wrap 
			{
				border: none;

				.block 
				{
					display: flex;
					align-items: center;

					.title 
					{
						margin-right: 5px;
						color: #374151;
						font-size: 14px;
						font-weight: 500;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					.sorting-icon-block
					{
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						.asc-sorting
						{
					
						}

						.desc-sorting
						{
							margin-top: -7px;
						}
					}
				}

				.sorting-icon 
				{
					width: 20px;
					height: 20px;
				}

				.k-pager-wrap 
				{
					gap: 8px;
					justify-content: center;
					background: transparent;
					border: none !important;
					outline: none;
					box-shadow: none !important;
					margin-top: 22px;
					padding: 0;
					.k-pager-first,
					.k-pager-last {display: none;}

					.k-pager-numbers 
					{
						gap: 8px;
						display: flex;
						align-items: center;

						.k-button-flat 
						{
							width: 36px;
							height: 36px;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 0;
							color: #374151;
							border-radius: 50%;

							.k-button-text 
							{
								color: inherit;
								font-size: 14px;
								font-weight: 400;
								line-height: 20px;
							}

							&.k-selected 
							{
								background: #eaf0fb;
								color: #306fd5;
							}

							&:hover 
							{
								background: #eaf0fb;
								color: #306fd5;
							}
						}

						.k-icon-button 
						{
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 0;
							color: #374151;
						}
					}

					kendo-pager-prev-buttons,
					kendo-pager-next-buttons {
						display: flex;
						align-items: center;

						.k-icon-button 
						{
							outline: none;
							box-shadow: none;
							padding: 0;

							&::before {background: transparent;}

							&:focus {border: 0;}

							kendo-icon-wrapper 
							{
								.k-svg-icon 
								{
									min-width: 100%;
									width: 100%;
									height: unset;
									min-height: unset;
									display: flex;
									align-items: flex-start;
									justify-content: flex-start;

									&::before 
									{
										font-family: "AvenirNext", sans-serif;
										font-size: 14px;
										font-weight: 400;
										line-height: 20px;
										color: #306fd5;
									}

									svg {display: none;}
								}
							}
						}
					}

					kendo-pager-prev-buttons 
					{
						.k-icon-button 
						{
							kendo-icon-wrapper 
							{
								.k-svg-icon 
								{
									background: url('../../../../../assets/images/png/left-blue-arrow.png') no-repeat;
									background-position: center left;
									padding-left: 30px;

									&::before {content: "Previous";}
								}
							}

							&.k-disabled 
							{
								kendo-icon-wrapper 
								{
									.k-svg-icon {
										background: url('../../../../../assets/images/png/left-gray-arrow.png') no-repeat;
										background-position: center left;

										&::before {color: #D1D5DB;}
									}
								}
							}
						}
					}

					kendo-pager-next-buttons 
					{
						.k-icon-button 
						{
							kendo-icon-wrapper 
							{
								.k-svg-icon 
								{
									background: url("../../../../../assets/images/png/Right-Arrow.png") no-repeat;
									background-position: center right;
									padding-right: 30px;

									&::before {content: "Next";}
								}
							}

							&.k-disabled 
							{
								kendo-icon-wrapper 
								{
									.k-svg-icon 
									{
										background: url('../../../../../assets/images/png/right-gray-arrow.png') no-repeat;
										background-position: center right;

										&::before {color: #D1D5DB;}
									}
								}
							}
						}
					}
				}
			}

			::ng-deep table 
			{
				overflow: hidden;

				thead 
				{
					background-color: #eaf0fb;

					tr 
					{
						th 
						{
							text-transform: capitalize;
							border-right: none;
							border-left: none;
							color: var(--Gray-700, #374151);
							font-family: AvenirNext forINTUIT;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: 34px;
							vertical-align: baseline;
						
							.status-check 
							{
								width: 10px;
								height: 10px;
								border-radius: 50%;
								background: var(--Blue-Grey, #9bd0ff);
							}

							.k-cell-inner 
							{
								.k-link 
								{
									padding: 12px;
									line-height: 20px;
									.k-column-title {
										min-width: unset;
										// text-overflow: unset;
									}
								}
							}

							&:first-child 
							{
								border-radius: 10px 0px 0px 0px;
								border-left: 1px solid var(--gray-200, #e5e7eb);
								border-top: 1px solid var(--gray-200, #e5e7eb);
							}

							&:last-child 
							{
								border-radius: 0px 10px 0px 0px;
							}

							&:nth-of-type(1),
							&:nth-of-type(2),
							&:nth-of-type(3),
							&:nth-of-type(4) 
							{
								.k-cell-inner 
								{
									.k-link 
									{
										.k-sort-icon 
										{
											width: 20px;
											height: 20px;
											position: relative;
											color: #000;
											margin: 0 0 0 4px;
										}
									}
								}
							}
						}
					}
				}

				tbody 
				{
					tr 
					{
						&:last-child 
						{
							td 
							{
								border-bottom: 1px solid var(--gray-200, #e5e7eb);

								&:first-child 
								{
									border-left: 1px solid var(--gray-200, #e5e7eb);
									border-bottom-left-radius: 10px;
								}

								&:last-child 
								{
									border-right: 1px solid var(--gray-200, #e5e7eb);
									border-bottom-right-radius: 10px;
								}
							}
						}

						td 
						{
							color: #374151;
							font-size: 14px;
							font-weight: 400;
							line-height: 20px;
							background-color: #fff;
							padding: 0 12px;
							border-bottom: 1px solid var(--gray-200, #e5e7eb);
							border-right: none;
							border-left: none;
							white-space: pre;
							text-transform: capitalize;
							height: 40px;

							&.status 
							{
								.status-color 
								{
									// padding-left: 12px;
									position: relative;
									display: inline;
									width: 10px;
									height: 10px;
									border-radius: 50%;

									&:before 
									{
										content: "";
										position: absolute;
										width: 10px;
										height: 10px;
										border-radius: 50%;
										left: 0px;
										top: 50%;
										transform: translateY(-50%);
									}

									&.unsubmitted {
										&:before {background: #9bd0ff;}
									}

									&.inprogress 
									{
										&:before {background: #12cbc4;}}

									&.withdrawn 
									{
										&:before {background: #ef934d;}
									}

									&.completed 
									{
										&:before {background: #66bd50;}
									}

									&.revision 
									{
										&:before {background: #ebbc46;}
									}
								}
							}

							&:first-child 
							{
								border-left: 1px solid var(--gray-200, #e5e7eb);
								border-right: none;
							}

							&:last-child 
							{
								border-right: 1px solid var(--gray-200, #e5e7eb);
								border-left: none;
								padding: 7px 12px;

								.eye-action 
								{
									width: 40px;
									height: 40px;
									display: flex;
									align-items: center;
									justify-content: center;
									border-radius: 50px;
									padding: 10px;
									border: 1px solid #d1d5db;
									background: #fff;
									box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
								}
							}
						}
					}
				}
			}

			::ng-deep kendo-grid 
			{
				.k-grid-header {
					padding: 0 !important;
					background-color: transparent;
					border-color: transparent;
				}

				.k-grid-content {
					overflow-y: auto;
					// max-height: 530px;
				}
			}
		}
	}
}

.available { background-color: #9BD0FF !important; }
.inprocess { background-color: #12CBC4 !important; }
.completed { background-color: #66BD50 !important; }
.rejectreturn { background-color: #EBBC46 !important; }
.status { display: flex; gap: 3px; align-items: center; }
.active-btn { background-color: #306fd5; color: #fff; border-radius: 8px; }

.footer-container {
	position: relative;
	hr 
	{
		top: 12px;
		width: 100%;
		height: 1px;
		position: absolute;
	}
	.overview-button-container 
	{
		display: flex;
		margin: auto;
		width: 100%;
		.overview-button 
		{
			height: 50px;
			cursor: pointer;
			margin: 0px auto;
			z-index: 1;
			
		}
	}
}

.hide { transition: height 0.5s linear !important; height: 0px ; display: hidden; opacity: 0; }

.overview_box {
  width: 100%;
  height: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
	display: none;
}

.show-video { transition: height 0.5s ease; height: 86% !important; display: flex; }

.margin-top
{
	.overview-button
	{
		margin-top: 7px !important;
	}
}