.decking-audios-container {
  .block {
    display: flex;
    justify-content: space-between;

    .select-all {
      border-radius: 8px;
      border: 1px solid #D1D5DB;
      background: #FFF;
      height: 35px;
      padding: 5px 10px;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      font-size: 14px !important;
      font-weight: 500 !important;
      color: #374151;
      cursor: pointer;
      display: flex;
      align-items: center;

      img {
        margin-right: 3px;
        width: 20px;
      }
    }

    .add-icon {
      img {
        width: 35px;
        cursor: pointer;
      }
    }
  }

  .group-images {
    display: flex;
    gap: 10px;
    border-radius: 4px;
    background: #FFF;
    margin-top: 10px;

    .image-first {
      position: relative;
      display: inline-block;
      cursor: pointer;

      .overlay {
        display: none;
        border-radius: 8px;
        position: absolute;
        background-color: #2761bf99;
        height: 100%;
        width: 100%;
        top: 0;
      }

      img {
        border-radius: 8px;
        width: 152px;
        height: 152px;
        display: block;
        transition: filter 0.3s;
      }

      .delete-btn,
      .play-btn {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        min-width: 85px;
      }

      .white-btn {
        width: 20px;
        height: 20px;
        border-radius: 6px;
        border: 1px solid #D1D5DB;
        background-color: #FFF;
      }

      .delete-icon {
        width: 20px;
        display: flex;
        align-items: start !important;

        img {
          width: 25px;
          height: 25px;
        }
      }

      .play-btn {
        border-radius: 8px;
        border: 1px solid #D1D5DB;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        position: absolute;
        top: 39%;
        left: 23%;
        background-color: #FFFFFF;
        text-align: center;
        display: flex;
        width: fit-content;
        height: 35px;
        align-items: center;
        max-width: 85px;
        justify-content: center;

        .play-icon {
          img {
            width: 20px;
            margin-right: 3px;
            height: 16px;
          }
        }

        .play {
          font-size: 14px;
          font-weight: 500;
          color: #374151;
        }

      }

      &:hover img {
        filter: brightness(90%);
      }

      &:hover .overlay {
        display: block;
      }
    }
  }

  .upload-image-block {
    border: 1px solid #E5E7EB;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #FFF;

    .add-Icon {
      width: 30px;
      cursor: pointer;
      margin-bottom: 10px;

      img {
        width: 30px;
        cursor: pointer;
      }
    }

    .upload-file {
      font-size: 16px;
      font-weight: 400;
      color: #111827;

      span {
        color: #306FD5;
        cursor: pointer;
      }
    }

    .file-accepted {
      font-size: 14px;
      font-weight: 400;
      color: #6B7280;
      margin-top: 5px;
    }
  }

  .uploading-image {
    border: 1px solid #E5E7EB;
    background-color: #FFF;
    border-radius: 8px;
    width: 100%;
    padding: 30px;
    margin-top: 10px;

    .wrapper {
      display: flex;
      align-items: center;

      .file-image {
        img {
          width: 35px;
          border-radius: 4px;
        }
      }

      .file-details {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;

        .file-name {
          font-size: 16px;
          font-weight: 400;
          color: #111827;
        }

        .uploading-progress {}

        .file-size {
          font-size: 14px;
          font-weight: 400;
          color: #6B7280;

          span {
            margin-left: 5px;
            font-weight: 900;
          }
        }
      }

      .remove-icon {
        cursor: pointer;
      }
    }
  }
}

.content {
  width: 300px;
  margin: 0 auto;

  img {
    width: 100% !important;
  }
}