<section class="login_screen">
    <div class="login_box">
        <a routerLink="#" class="logo">
            <img src="assets/images/svg/logo.svg" alt="logo">
        </a>
        <!-- <app-language-switch></app-language-switch> -->
        <h4>{{'INSTR-BOTH-LOGIN-NEWPASSWORD-LABEL-SETYOURPASSWORD' | translate}}</h4>
        <form class="mt-4 pt-2" [formGroup]="forgotPasswordForm">
            <div class="form-group">
                <kendo-formfield>
                    <kendo-textbox class="form-control" #newPasswordInput placeholder="{{'INSTR-BOTH-LOGIN-NEWPASSWORD-INLINETEXT-NEWPASSWORD' | translate }}" formControlName="newPassword">
                        <ng-template kendoTextBoxSuffixTemplate>
                            <button kendoButton look="clear" [svgIcon]="eyeIcon" (click)="toggleVisibility('newPasswordInput')"></button>
                        </ng-template>
                    </kendo-textbox>
                    <kendo-formerror *ngIf="forgotPasswordForm.controls.newPassword.errors?.required">{{'MSG-LOGIN-FORM-INLINE-ERROR-PASSWORDREQUIRED' | translate }}</kendo-formerror>
                    <kendo-formerror *ngIf="!forgotPasswordForm.controls.newPassword.errors?.required && forgotPasswordForm.controls.newPassword.invalid">{{
                        'MSG-LOGIN-FORM-INLINE-ERROR-PASSWORDINVALID' | translate }}</kendo-formerror>
                </kendo-formfield>
            </div>
            <div class="form-group mb-3">
                <kendo-formfield>
                    <kendo-textbox class="form-control" #confirmPasswordInput placeholder="{{'INSTR-BOTH-LOGIN-NEWPASSWORD-INLINETEXT-CONFIRMPASSWORD' | translate }}" formControlName="confirmPassword">
                        <ng-template kendoTextBoxSuffixTemplate>
                            <button kendoButton look="clear" [svgIcon]="eyeIcon" (click)="toggleVisibility('confirmPasswordInput')"></button>
                        </ng-template>
                    </kendo-textbox>
                    <kendo-formerror *ngIf="forgotPasswordForm.controls.confirmPassword.errors?.required">{{'MSG-LOGIN-FORM-INLINE-ERROR-PASSWORDREQUIRED' | translate }}</kendo-formerror>
                    <kendo-formerror *ngIf="!forgotPasswordForm.controls.confirmPassword.errors?.required && forgotPasswordForm.controls.confirmPassword.invalid">{{
                        'MSG-LOGIN-FORM-INLINE-ERROR-PASSWORDINVALID' | translate }}</kendo-formerror>
                    <span class="k-form-error k-text-start"
                        *ngIf="!forgotPasswordForm.controls.confirmPassword.errors?.required && !forgotPasswordForm.controls.confirmPassword.invalid && showMatchPasswordError">{{
                        'MSG-LOGIN-FORM-INLINE-ERROR-NEWANDCONFIRMPASSWORDDOESNOTMATCH' | translate }}</span>
                </kendo-formfield>
            </div>
            <button class="btn btn-dark w100p btn-block mt-2" (click)="submit()">{{'INSTR-BOTH-LOGIN-NEWPASSWORD-BUTTON-UPDATEYOURPASSWORD' | translate }}<span></span></button>
        </form>
    </div>
    <div class="w100p" style="clear: both;"></div>
    <a routerLink="/login" class="back_link"><span></span>{{'INSTR-BOTH-LOGIN-FORGOTPASSWORD-TEXT-BACKTOLOGIN' | translate}}</a>
</section>