<div class="property-details-container">
  <div class="heading-block">
    <div class="heading">
      Property Details
    </div>
  </div>
  <div class="form">
    <form [formGroup]="propertyDetailsForm">
      <div class="form-fields">
        <kendo-formfield>
          <kendo-label [for]="streetNumber" text="Street Number:"></kendo-label>
          <kendo-textbox formControlName="streetNumber" [clearButton]="true" #streetNumber required></kendo-textbox>
        </kendo-formfield>
        <kendo-formfield>
          <kendo-label [for]="streetName" text="Street Name:"></kendo-label>
          <kendo-textbox formControlName="streetName" [clearButton]="true" #streetName required></kendo-textbox>
        </kendo-formfield>
      </div>
      <div class="form-fields">
        <kendo-formfield>
          <kendo-label [for]="zip" text="Zip:"></kendo-label>
          <kendo-textbox formControlName="zip" [clearButton]="true" #zip required></kendo-textbox>
        </kendo-formfield>
        <kendo-formfield>
          <kendo-label [for]="city" text="City:"></kendo-label>
          <kendo-textbox formControlName="city" [clearButton]="true" #city required></kendo-textbox>
        </kendo-formfield>
        <kendo-formfield>
          <kendo-label [for]="state" text="State:"></kendo-label>
          <kendo-dropdownlist [data]="stateList" formControlName="state" #state></kendo-dropdownlist>
        </kendo-formfield>
      </div>
      <div class="links-block">
        <div class="heading">Add Links:</div>
        <div class="links">
          <div class="block" *ngFor="let data of linksData; let i = index;" (click)="currentActive(i)"
            [ngClass]="{'active': activeOption.name === data.name}">
            <div class="company-logo">
              <img [src]="data.asset" alt="">
            </div>
            <div class="check" *ngIf="data.link">
              <img src="./assets/images/svg/green-tick-icon.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-link" *ngIf="activeOption">
        <div class="heading">{{activeOption.name}} Portfolio Link:</div>
        <kendo-textbox formControlName="portfolioLink" (blur)="updateLink()">
          <ng-template kendoTextBoxPrefixTemplate>
            <img src="./assets/images/svg/Icon-right.svg" alt="">
          </ng-template>
        </kendo-textbox>
      </div>
    </form>
  </div>
</div>