<div class="registration-completed-main">
	<svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect x="0.890625" y="0.0888672" width="48" height="48" rx="24" fill="#1CE8CF" />
		<path
			d="M36.5686 13.1982L39.529 16.1586L20.708 34.9795L10.252 24.5234L13.2123 21.5631L20.708 29.0653L36.5686 13.1982Z"
			fill="white" />
	</svg>

	<h2 class="registration-completed-head">Registration Completed</h2>
	<p class="registration-completed-text">We sent you and your team an activation link.</p>
	<p class="registration-completed-text">
		Please be sure to check your spam folder too.
	</p>
	<button class="registration-completed-button" (click)="onResendEmail()" kendoButton>
		Resend Email
	</button>
</div>