<div class="media-navbar-container">
  <div class="media-sorting">
    <div class="sort">
      <div class="sort-up">
        <img src="./assets/images/png/arrow.png" alt="">
      </div>
      <div class="sort-down">
        <img src="./assets/images/png/arrow.png" alt="">
      </div>
    </div>

    <div class="sort-by">
      <div class="sort-up">Sort By</div>
      <div class="sort-down">
        <img src="./assets/images/svg/down.svg" alt="">
      </div>
    </div>

    <div class="view-type">
      <div class="view-list">
        <img src="./assets/images/svg/List.svg" alt="">
      </div>
      <div class="view-grid">
        <img src="./assets/images/svg/grid.svg" alt="">
      </div>
    </div>
  </div>
  
  <!--Media Search-->
  <div class="media-search">
    <kendo-textbox placeholder="Search ..."></kendo-textbox>
  </div>
</div>