<footer class="footer">
  <div class="center center-justify container">
    <div class="center">
      <div class="center">
        <img class="check-image" src="assets/images/svg/mail.svg" alt="check" />
        &nbsp;&nbsp;
        <span>contact@totalscope.com</span>
      </div>
      &nbsp;&nbsp; &nbsp;&nbsp;
      <div class="center">
        <img class="check-image" src="assets/images/svg/phone.svg" alt="check" />
        &nbsp;&nbsp;
        <span>(720) 307-2795</span>
      </div>
    </div>
    <div>© 2023 TotalScope | All Rights Reserved</div>
  </div>
</footer>
