<div class="testimonials_box w-100 h-100 container">
  <!-- <kendo-scrollview
    #sv
    [data]="items"
    [width]="width"
    [height]="height"
    [arrows]="true"
    [endless]="true"
  > -->
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide let-item="item">
      <div
        [ngStyle]="{ minWidth: width }"
        draggable="false"
        class="w-100 h-100 m-0 t-main p-0 d-flex flex-column"
      >
        <div class="t-sub-main">
          <h1 class="t-heading-one">Testimonials</h1>
          <span class="t-p">
            Our clients send us bunch of smilies with our services and we love
            them
          </span>
          <img class="t-image" src="assets/images/svg/beeler.svg" alt="" />
          <span class="t-p-name">Brooks</span>
          <span class="t-p-text">Beeler Roofing LLC</span>
          <div class="star-div">
            <img src="assets/images/svg/Star.svg" alt="" />
            <img src="assets/images/svg/Star.svg" alt="" />
            <img src="assets/images/svg/Star.svg" alt="" />
            <img src="assets/images/svg/Star.svg" alt="" />
            <img src="assets/images/svg/Star.svg" alt="" />
          </div>
          <span class="t-commemts text-start d-flex align-items-center justify-content-center quote-p">
            <img class="quote_icon" src="assets/images/svg/quotation-mark1.svg" alt=""/>            
            <span class="q-p">
              I’m second generation in a roofing company that is over 40 years
              old. For the most part we’ve always done retail roofing, meaning
              we don’t chase storms and cover an area roughly 75 miles from our
              home base. In the last 3 years we’ve started doing insurance jobs
              more often. They probably consist of 80% of our business now. At
              the beginning we would ask for and get insurance paperwork from
              the customer. We would just roll with whatever the adjuster and
              the insurance company said. We realized quickly that the insurance
              companies do not always have the policy holders’ best interest at
              heart. We needed help with our estimates and did not want to take
              the time to purchase and learn Xactimate. We tried a few
              companies. They promised to raise our claims 30% or more and then
              get paid based on how much they raise it over what the original
              insurance adjuster had figured. This formula is a recipe for bad
              behavior and dishonesty. Make no mistake, we want to get paid for
              everything we complete on a build however, we don’t want to get
              paid for made up fees or made up tasks. Totalscope has been one of
              the best partnerships we have. I mean that word “partnership”.
              They help us get our estimates right. They include all
              documentation, codes etc… to get us paid and take care of the
              policy holder. Sometimes it takes multiple revisions as we work
              with adjusters to get it right Drew Suttle and his team are
              patient and help us through these revisions. Every dime I spend
              with them is well worth it. I could not recommend anyone more
              highly.
            </span>
            <img class="quote_icon quote_icon_right" src="assets/images/svg/quotation-mark2.svg" alt=""/>
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide let-item="item">
      <div
        [ngStyle]="{ minWidth: width }"
        draggable="false"
        class="w-100 h-100 m-0 t-main p-0 d-flex flex-column"
      >
        <div class="t-sub-main">
          <h1 class="t-heading-one">Testimonials</h1>
          <span class="t-p">
            Our clients send us bunch of smilies with our services and we love
            them
          </span>
          <img class="t-image" src="assets/images/svg/beeler.svg" alt="" />
          <span class="t-p-name">Brooks</span>
          <span class="t-p-text">Beeler Roofing LLC</span>
          <div class="star-div">
            <img src="assets/images/svg/Star.svg" alt="" />
            <img src="assets/images/svg/Star.svg" alt="" />
            <img src="assets/images/svg/Star.svg" alt="" />
            <img src="assets/images/svg/Star.svg" alt="" />
            <img src="assets/images/svg/Star.svg" alt="" />
          </div>
          <span class="t-commemts text-start d-flex align-items-center justify-content-center quote-p">
            <img class="quote_icon" src="assets/images/svg/quotation-mark1.svg" alt=""/>            
            <span class="q-p">
               I’m second generation in a roofing company that is over 40 years
              old. For the most part we’ve always done retail roofing, meaning
              we don’t chase storms and cover an area roughly 75 miles from our
              home base. In the last 3 years we’ve started doing insurance jobs
              more often. They probably consist of 80% of our business now. At
              the beginning we would ask for and get insurance paperwork from
              the customer. We would just roll with whatever the adjuster and
              the insurance company said. We realized quickly that the insurance
              companies do not always have the policy holders’ best interest at
              heart. We needed help with our estimates and did not want to take
              the time to purchase and learn Xactimate. We tried a few
              companies. They promised to raise our claims 30% or more and then
              get paid based on how much they raise it over what the original
              insurance adjuster had figured. This formula is a recipe for bad
              behavior and dishonesty. Make no mistake, we want to get paid for
              everything we complete on a build however, we don’t want to get
              paid for made up fees or made up tasks. Totalscope has been one of
              the best partnerships we have. I mean that word “partnership”.
              They help us get our estimates right. They include all
              documentation, codes etc… to get us paid and take care of the
              policy holder. Sometimes it takes multiple revisions as we work
              with adjusters to get it right Drew Suttle and his team are
              patient and help us through these revisions. Every dime I spend
              with them is well worth it. I could not recommend anyone more
              highly.
            </span>
            <img class="quote_icon quote_icon_right" src="assets/images/svg/quotation-mark2.svg" alt=""/>
          </span>
        </div>
      </div>
    </ng-template>
  <!-- </kendo-scrollview> -->
</owl-carousel-o>
</div> 


<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>Slide 1</ng-template>  
  <ng-template carouselSlide>Slide 2</ng-template>  
  <ng-template carouselSlide>Slide 3</ng-template>  
</owl-carousel-o>  -->