<section class="login_screen">
    <div class="login_box">
        <div class="w100p text-center">
            <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="0.161621" width="48" height="48" rx="24" fill="#1CE8CF"/>
                <path d="M35.678 13.2709L38.6384 16.2313L19.8174 35.0523L9.36133 24.5962L12.3217 21.6358L19.8174 29.1381L35.678 13.2709Z" fill="white"/>
            </svg>      
        </div>      
        <h4 class="mt-4">{{'INSTR-WEB-LOGIN-LOGINSUCCESSFUL-LABEL-LOGINSUCCESSFUL' | translate }}</h4>
        <p innerHTML="{{ LOGINSUCCESSFULMESSAGE }}"></p>
    </div>
    <!-- <div class="w100p">
        <a class="back_link" routerLink="#"><span></span> Back to login</a>
    </div> -->
</section>