.overview_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  .switch-language {
    margin-top: 15px;
    span{
      margin: 0px 10px;
    }
  }

  .overview-video {
  
    text-align: center;
    height: 95%;
    width: 100%;
    margin-bottom: 5%;

    iframe {
      border-radius: 20px;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}