.media-asset-view-container {
  margin-left: 5px;
  background-color: #FFF;

  .asset-navbar {
    display: flex;
    background-color: #F3F4F6;
    height: 40px;
    padding: 10px;
    align-items: center;

    .icon {
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .icon-wrapper {
      display: flex;
      align-items: center;

      .greater-icon {

        img {
          width: 35px;
          height: 30px;
        }
      }

      .asset-folder {
        color: #0C1D3E;
        font-size: 14px;
        font-weight: 500;
      }

      .asset-name {
        color: #306FD5;
        font-size: 14px;
        font-weight: 500;
      }
    }

  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #FFF;
    gap: 20px;
    text-align: center;
    padding: 20px;
    min-height: 350px;
    width: 100%;

    .grid-item {
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;

      .asset-icon {

        img {
          width: 130px;
          margin-bottom: 10px;
          cursor: pointer;
          border-radius: 8px;
        }
      }

      .asset-title {
        font-size: 14px;
        font-weight: 500;
        color: #374151;
      }
    }
  }

  .select-block {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    padding-bottom: 25px;

    .footer-buttons {
      display: flex;

      .block {
        display: flex;
        padding: 10px 15px;
        justify-content: space-between;
        border: 1px solid #D1D5DB;
        border-radius: 8px;
        cursor: pointer;
        align-items: center;
        margin-left: 5px;

        .tick-icon {
          margin-right: 5px;
        }

        .button-name {
          font-size: 14px;
          font-weight: 500;
          color: #374151;
        }
      }

      .buttons {
        display: flex;

      }

    }


    .add-button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #306FD5;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 30px;
      }
    }

  }
}

.popup {
  img {
    width: 900px;
    height: 400px;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .delete, .ok {
      display: flex;
      padding: 5px 10px;
      border: 1px solid #D1D5DB;
      border-radius: 8px;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }

    .ok {
      min-width: 50px;
      background-color: #306FD5;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.active {
  background-color: #BFD3F2;
  border: 1px solid #95B5E9;
  border-radius: 4px;
}