<section class="login_screen">
    <div class="login_box">
        <a routerLink="#" class="logo">
            <img src="assets/images/svg/logo.svg" alt="logo">
        </a>
        <!-- <app-language-switch></app-language-switch> -->
        <h4>{{'INSTR-BOTH-LOGIN-FORGOTPASSWORD-LABEL-RESETYOURPASSWORD' | translate}}</h4>
        <p [innerHTML]="'INSTR-BOTH-LOGIN-FORGOTPASSWORD-TEXT-PASSWORDRESETINSTRUCTION' | translate"></p>
        <form class="mt-4 pt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
            <div class="form-group mb-2">
                <kendo-formfield>
                    <kendo-textbox class="form-control" formControlName="email" placeholder="{{'INSTR-BOTH-LOGIN-FORGOTPASSWORD-INLINETEXT-EMAILADDRESS' | translate}}" (input)="emailFoundError = false"></kendo-textbox>
                    <kendo-formerror *ngIf="forgotPasswordForm.controls.email.errors?.required">{{'MSG-ADDNEWCLIENT-FORM-INLINE-ERROR-EMAILADDRESSREQUIRED' | translate }}</kendo-formerror>
                    <kendo-formerror *ngIf="!forgotPasswordForm.controls.email.errors?.required && forgotPasswordForm.controls.email.invalid">{{'MSG-ADDNEWCLIENT-FORM-INLINE-ERROR-EMAILADDRESSINVALID' | translate }}</kendo-formerror>
                    <span class="k-form-error k-text-start" *ngIf="emailFoundError">{{'MSG-LOGIN-FORM-INLINE-ERROR-EMAILADDRESSMISSINGINDB' | translate }}</span>
                </kendo-formfield>
            </div>  
            <button class="btn btn-dark w100p btn-block mt-2" type="submit">{{'INSTR-BOTH-LOGIN-FORGOTPASSWORD-BUTTON-RESETLINK' | translate}}<span></span></button>
        </form>
    </div>
    <a routerLink="/login" class="back_link"><span></span> {{'INSTR-BOTH-LOGIN-FORGOTPASSWORD-TEXT-BACKTOLOGIN' | translate}}</a> 
</section>