@import "../../../styles/variable";
.section-one {
  flex: 1;
  display: flex;
  align-items: center;
}

.section-one-main {
  flex: 1;
  height: 100%;
}
.top-heading {
  padding-top: 15px;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
}
.section-one-heading {
  font-family: "AvenirNext-Bold";
  font-weight: 700;
  color: #303030;
  font-size: 30px;
  line-height: 30px;
}
.section-one-p {
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
}

.section-two {
  flex: 2;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;

  background-color: #f2f8fd;
}
.section-two-main {
  font-family: "AvenirNext-Bold";

  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media only screen and (max-width: 992px) {
  .top-heading {
    padding-top: 15px;
    font-weight: 500;
    width: 170px;
    font-size: 28px;
    padding-top: 37.27px;
    padding-bottom: 22px;
    line-height: 34px;
  }
  .section-one-heading {
    font-family: "AvenirNext";
    width: 316px;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    padding-bottom: 16px;
    line-height: 41px;

    text-align: center;
  }
  .section-one-p {
    margin-bottom: 5px;
    width: 315px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
  }

  .section-two {
    margin-top: 45.73px;
    // flex: 2;
    display: flex;
    padding: 30px 0px 53px 0px;
    align-items: center;
    background-color: #f2f8fd;
  }
  .section-two-main {
    font-family: "AvenirNext-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 41px;
    margin-bottom: 24px;
  }
  .card-flex {
    flex-direction: column;
  }
}

@media #{$laptop-device} {
  .section-one {
    flex: none;
    padding-top: 24.27px;
    padding-bottom: 40.63px;
  }
  .top-heading {
    font-size: 36px;
    line-height: 30px;
  }

  .section-one-heading {
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
  }
  .p-pricing {
    padding: 20px 0px 0px 0px;
  }
  .section-one-p {
    font-size: 18px;
    line-height: 25px;
    // padding: 20px 0px 0px 0px;
  }
  .p-pricing-b {
    // padding-bottom: 40.63px;
  }
  .section-two {
    flex: none;
  }
  .section-two-main {
    font-size: 38px;
    line-height: 41px;
    margin-bottom: 24px;
  }
  .section-two {
    padding: 30px 0px 36px 0px;
  }
  .section-two-p {
    font-size: 16px;
  }
}
@media #{$extra-large-device} {
  .section-one {
    flex: 1;
    padding-top: 24.27px;
    padding-bottom: 40.63px;
  }
  .top-heading {
    font-size: 36px;
    line-height: 30px;
  }

  .section-one-heading {
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
  }
  .p-pricing {
    padding: 20px 0px 0px 0px;
  }
  .section-one-p {
    font-size: 18px;
    line-height: 25px;
    // padding: 20px 0px 0px 0px;
  }
  .p-pricing-b {
    // padding-bottom: 40.63px;
  }
  .section-two {
    // flex: none;
  }
  .section-two-main {
    font-size: 38px;
    line-height: 41px;
    margin-bottom: 24px;
  }
  .section-two {
    flex: 2;
    padding: 30px 0px 36px 0px;
  }
  .section-two-p {
    font-size: 16px;
  }
}
