<div class="d-flex align-items-strached bulk-main">
    <div class="d-flex flex-column bulk-left">
        <div class="d-flex flex-column purchase-credit-main">
            <h2 class="purchase-credit-head">Purchase Credits</h2>
            <div class="d-flex flex-column purchase-credit-wrap">
                <div class="d-flex align-items-center justify-content-between purchase-credit-card">
                    <p class="credit-text">10 Credits @ $323/credit</p>
                    <div class="d-flex align-items-center credit-value-wrap">
                        <label class="d-flex align-items-center credit-value">$3,230
                            <input class="credit-radio" type="radio" checked="checked"/>
                        </label>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between purchase-credit-card">
                    <p class="credit-text">25 Credits @ $300/credit</p>
                    <div class="d-flex align-items-center credit-value-wrap">
                        <label class="d-flex align-items-center credit-value">$7,500
                            <input class="credit-radio" type="radio" />
                        </label>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between purchase-credit-card">
                    <p class="credit-text">Other (30 or more @ $300/credit)</p>
                    <div class="d-flex align-items-center credit-value-wrap">
                        <div class="d-flex align-items-center value-plus-min-wrap">
                            <span class="value-plus-min">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M4.16667 10H15.8333" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10 15.8333V4.16666" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </span>
                            <input class="value-input" type="number" value="30" />
                            <span class="value-plus-min">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M4.16667 10H15.8333" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10 15.8333V4.16666" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                            </span>
                        </div>
                        <label class="d-flex align-items-center credit-value">$9,000
                            <input class="credit-radio" type="radio" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end purchase-credit-btn-wrap">
                <p class="purchase-btn-text">Click Only One Time To Avoid Multiple Charges</p>
                <button class="d-flex align-items-center purchase-btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                    <path d="M4.16667 10.7748H15.8333" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 16.6081V4.94145" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>Purchase</button>
            </div>
        </div>
        <div class="purchase-history-main">
            <h2 class="purchase-history-head">Purchase History</h2>
            <div class="purchase-history-table-main">
                <table class="purchase-history-table">
                    <thead>
                        <tr class="purchase-history-row">
                            <th class="purchase-history-head">Date Time <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M5.83334 6.66667L10 2.5L14.1667 6.66667" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.1667 13.3333L10 17.5L5.83334 13.3333" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg></th>
                            <th class="purchase-history-head">Category</th>
                            <th class="purchase-history-head">Quantity</th>
                            <th class="purchase-history-head">File Cost</th>
                            <th class="purchase-history-head">Total Cost</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let list of purchaseList">
                        <tr class="purchase-history-row">
                            <td class="purchase-history-data">{{ list?.dateTimeCreate }}</td>
                            <td class="purchase-history-data">{{ list?.category }}</td>
                            <td class="purchase-history-data">{{ list?.quantity }}</td>
                            <td class="purchase-history-data">{{ list?.file_cost }}</td>
                            <td class="purchase-history-data">{{ list?.total_cost }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column bulk-right">
        <h2 class="cerdit-head">Credit Balance</h2>
        <div class="d-flex flex-column credit-wrap-main">
            <div class="d-flex flex-column credit-wrap">
                <span class="cerdit-text">Credits remaining | $323/credit</span>
                <h2 class="cerdit-score">5</h2>
                <span class="d-flex align-items-center cerdit-value"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M8 4.66667V5.33333M9.6 6.33333C9.46667 5.73333 8.93333 5.33333 8.33333 5.33333H7.66667C6.93333 5.33333 6.33333 5.93333 6.33333 6.66667C6.33333 7.4 6.93333 8 7.66667 8H8.33333C9.06667 8 9.66667 8.6 9.66667 9.33333C9.66667 10.0667 9.06667 10.6667 8.33333 10.6667H7.66667C7.06667 10.6667 6.53333 10.2 6.4 9.66667M8 10.6667V11.3333M14 8C14 11.3333 11.3333 14 8 14C4.66667 14 2 11.3333 2 8C2 4.66667 4.66667 2 8 2C11.3333 2 14 4.66667 14 8Z" stroke="#388E3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>Credits Price $1,615</span>
            </div>
            <div class="d-flex flex-column credit-wrap">
                <span class="cerdit-text">Credits remaining | $300/credit</span>
                <h2 class="cerdit-score">25</h2>
                <span class="d-flex align-items-center cerdit-value"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M8 4.66667V5.33333M9.6 6.33333C9.46667 5.73333 8.93333 5.33333 8.33333 5.33333H7.66667C6.93333 5.33333 6.33333 5.93333 6.33333 6.66667C6.33333 7.4 6.93333 8 7.66667 8H8.33333C9.06667 8 9.66667 8.6 9.66667 9.33333C9.66667 10.0667 9.06667 10.6667 8.33333 10.6667H7.66667C7.06667 10.6667 6.53333 10.2 6.4 9.66667M8 10.6667V11.3333M14 8C14 11.3333 11.3333 14 8 14C4.66667 14 2 11.3333 2 8C2 4.66667 4.66667 2 8 2C11.3333 2 14 4.66667 14 8Z" stroke="#388E3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>Credits Price $7,500</span>
            </div>
        </div>
    </div>
</div>
