<div class="hero">
  <div class="left">
    <h1 class="heading">The Future <br />of Estimating</h1>
    <p class="sub-text">
      Your time is money, and we respect that. Register your company, install
      our mobile app, or log in on our web portal.
    </p>
    <div class="btn-section">
      <!-- <button class="btn" kendoButton (click)="onButtonClick()" themeColor="primary">
                Get Started
            </button> -->
      <div
        (click)="onButtonClick()"
        class="d-flex align-items-center c-btn primary-c-btn"
      >
        <span>Get Started</span> <img src="assets/images/svg/Polygon.svg" alt="" />
      </div>
    
      <img class="check-image" src="assets/images/svg/check.svg" alt="check" />
      &nbsp;
      <span class="check-text"> Your first estimate is free</span>
    </div>
  </div>
  <div class="right">
    <app-future-estimate-video></app-future-estimate-video>
  </div>
</div>
